<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBa7LdIXUBHxTHlniRomrKeKrAtYvxlzA8</string>
	<key>GCM_SENDER_ID</key>
	<string>37239923592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.contact</string>
	<key>PROJECT_ID</key>
	<string>contact-app-e809e</string>
	<key>STORAGE_BUCKET</key>
	<string>contact-app-e809e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37239923592:ios:9015942a63a1eb4b58d03d</string>
</dict>
</plist>